@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #fff;
  text-decoration: none;
}
li{
  list-style: none;
}
body{ 
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: rgb(255, 251, 246);
}
.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  opacity: 0.8;
  color: #fff;
  width: 100vw;
  height: 10vh;
  padding: 20px;
}
.top{
  background: transparent;
}
.navbar ul{
  display: flex;
}
.navbar ul li a{
  color: white;
  padding: 23px;

}
.navbar ul li a:hover{
  background-color: rgb(38, 37, 37);
  color: rgb(232, 229, 229);
}
.primary-text{
  color: rgb(213, 204, 192);
}
.landing{
  background: url('IMG/headerIMG.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
}
.top-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(235, 231, 231);
  padding: 30px;
  padding-bottom: 130px;
  height: 100%;
}

.landing::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.5);
}
.landing *{
  z-index: 10;
}
.about{
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content{
  display: flex;
  flex-direction: column;

}
.about-content h2,
.about-content p{
  text-align: center;
}
.about-content h2::before{
  width: 100%;
  display: block;
  border-bottom: 2px solid rgb(213, 204, 192);
}
.about-content p{
  padding: 20px 40px;
}
.skills{
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.skills-contnet h2{
  padding-bottom: 30px;
}
.skills-content nav ul{
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}
.skills-content nav ul li{
  background: rgb(213, 204, 192);
  color: rgb(255, 252, 252);
  border: 2px solid rgb(172, 165, 155);;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 40px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.projects-content nav ul{
  display: flex;
  flex-direction: row;
}
.projects-content nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(213, 204, 192);
  color: white;
  margin: 60px 40px;
  width: 200px;
  height: 250px;
}
.info{
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(125, 120, 113);
  color: white;
}
.info .contact-info{
  display: flex;
  flex-direction: row;
}
.info .contact-info .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
}
.info .contact-info .box h2{
  margin-bottom: 10px;
}
.info .contact-info .box .icons i{
  margin: 0 15px;
}
@media(max-width: 820px){
  .navbar{
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 20px;

  }
  .navbar ul li a{
    padding: 10px;
  }
  .top-content{
    padding-top: 200px;
  }
  .skills-content nav ul{
    flex-direction: column;
  }
  .projects-content nav ul{
    flex-direction: column;
  }
  .info .contact-info .box{
    margin-left: 10px;
  }
  .top-content{
    text-align: center;
    
  }
  .info{
    padding-left: 50px;
    height: 30vh;
  }
  .info .contact-info{
    flex-direction: column;
  }

  .info .contact-info .box p{
    text-align: center;
    margin-bottom: 10px;
  }


}
@media(width: 375px){
.about{
  height: 100%;
}
}
